*{
    padding: 0;
    margin: 0;
  }
  /* faq page styles */
  
  /* section 1 */
  
  .yellow{color:#FEE715;}
  .bgyellow{background-color:#FEE715;}
  .lightblack{background-color: #1a1515;}
  .faq-img{width:100%;height:300px;filter: brightness(0.6);}
  .navStyle:hover{border-bottom:4px solid white;color: #FEE715;}
  .navStyle{color: white;text-decoration: none;}
  
  /* section 2 */
  
  .faq-s2-card{background-image: url(../public/images/faq-fruit.jpeg);background-size: 100% 100%;}


    /* section 3 */

    .faq-s3-card{width:260px;height:200px}
    .faq-s3-img{height:200px;}
  
    /* section 4 */
  
    .faq-footer-bg1{background-image: url(../public/images/faq-footer-bg1.jpg);background-size: 100% 100%;background-repeat: no-repeat;}
    .faq-footer-bg2{background-image: url(../public/images/faq-footer-bg2.jpg);background-size: 100% 100%;background-repeat: no-repeat; height:350px;}
    .faq-footer-bg3{background-image: url(../public/images/faq-footer-bg3.jpg);background-size: 100% 100%;background-repeat: no-repeat; height:350px;}
    .faq-footer-signupbox{height:450px;width:300px;position: absolute;top:-50px;border-radius: 40px;border:2px solid white;}
    .faq-footer-signupbox-bg{ height:350px;position: relative;}